INFLUX_URL=http://localhost:8086
INFLUX_ORG=home
# buspi stores Victron data in the shared bucket (vedirect-influx sink config)
VICTRON_BUCKET=buspi
VICTRON_MEASUREMENT=victron_mppt
PV_POWER_FIELD=pv_power
CHARGE_STATE_FIELD=charge_state
GEO_BUCKET=buspi
GEO_MEASUREMENT=geo
SUNCAST_PORT=8090
SUNCAST_TZ=Europe/Berlin
SUNCAST_DB=/var/lib/suncast/suncast.db
