INFLUX_URL=http://localhost:8086
INFLUX_ORG=home
VICTRON_BUCKET=victron
# Confirm on the Pi: influx measurement name used by vedirect/victron reader
VICTRON_MEASUREMENT=victron
PV_POWER_FIELD=pv_power
GEO_BUCKET=buspi
GEO_MEASUREMENT=geo
SUNCAST_PORT=8090
SUNCAST_TZ=Europe/Berlin
SUNCAST_DB=/var/lib/suncast/suncast.db
